<div class="product-container"  *ngIf="product">
    <div style="padding-bottom: 20px;">
        <app-image-tile [imageUrl]="util.getImageSrc(product._id)" [title]="product.name"></app-image-tile>
    </div>
    <div class="card-body product-metadata">
       <p class="category">{{product.category | titlecase}}</p> 
        <p class="card-title">{{product.name | titlecase}}</p>
        <p class="action-buttons">
            <span class="price">Rs.&nbsp;{{product.price}}</span>
            <button type="button" class="btn btn-dark cart-button" [disabled]="addingToCart" (click)="handleClick()">
                {{isItemAlreadyInCart ? 'Go to Cart': 'Add to Cart'}}
            </button>
        </p>
    </div>
</div>