<div class="product-container"  *ngIf="product">
    <div class="product-image">
        <app-image-tile [imageUrl]="util.getImageSrc(product._id)" [title]="product.name"></app-image-tile>
    </div>
    <div class="card-body product-metadata">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">Rs.&nbsp;{{product.price}}</p>
      <div class="action-buttons">
        <a href="#" class="btn btn-primary">view product</a>
        <button type="button" class="btn btn-dark cart-button" (click)="handleClick()">
            {{isItemAlreadyInCart ? 'Go to Cart': 'Add to Cart'}}
        </button>
    </div>
    </div>
</div>