<div class="footer-area">
  <div class="footer">
    <div class="brand-name">
      <span [routerLink]="['/']">SwiftCart</span>
    </div>
    <div class="contact-info">
      <span>Contact Info</span>
      <div class="contacts">
        <a
          class="contact-link"
          href="https://www.linkedin.com/in/prabhatbhargav/"
          target="_blank"
          rel="noopener"
        >
          <span
            class="contact-link-text"
            >linkedin</span
          >
        </a>
        <a
          class="contact-link"
          href="https://github.com/prabhat510"
          target="_blank"
          rel="noopener"
        >
          <span
            class="contact-link-text"
            >github</span
          >
        </a>
        <a class="contact-link" href="mailto:prabhatbhargava510@gmail.com">
          <span
            class="contact-link-text"
            >gmail</span
          >
        </a>
      </div>
    </div>
    <div class="footer-form">
      <span for="">Get In Touch:</span><input type="text" placeholder="Email" />
      <textarea
        name=""
        id=""
        cols="10"
        rows="3"
        placeholder="Your Query"
      ></textarea>
      <button>SUBMIT</button>
    </div>
  </div>
  <div class="copyright">
    <p>
      Copyright &#169;{{ year }} All Rights Reserved | Made By
      <span style="color: purple">Prabhat Bhargav</span>
    </p>
  </div>
</div>
