<div class="product-container" *ngIf="cartItem && cartItem.product">
    <div class="image-wrapper">
        <app-image-tile [imageUrl]="globalUtil.getImageSrc(cartItem.product._id)" [title]="cartItem.product.name"></app-image-tile>
    </div>
    <div class="product-metadata">
        <p>{{cartItem.product.name}}</p>
        <p>{{'Rs. ' + cartItem.product.price}}</p>
        <p>
            <button type="button" class="btn btn-secondary" [disabled]="quantity===1" (click)="handleProductCount('removed', cartItem.product._id)">
                -
            </button>
            {{quantity}}
            <button type="button" class="btn btn-secondary" (click)="handleProductCount('added', cartItem.product._id)">
                +
            </button>
        </p>
        <p><button type="button" class="btn btn-danger" (click)="removeCartItem(cartItem.product._id)">REMOVE</button></p>
    </div>
</div>