.order-container {
    box-shadow: 0 0 0 0 rgba(0,0,0,.15);
    align-items: center;
    margin: 20px 50px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;

    @media (width <= 1023px) {
        gap: 50px;
    }

    .product-image {
        height: 100px !important;
        width: 100px !important;
    }

    .title {
        width: 30%;
        margin-left: 1em;
    }
    .price {
        width: 10%;
    }

    .description {
        width: 30%;
    }
    .payment {
        width: 15%;
    }
}

.order-mobile-container {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    margin: 20px 50px;
   
    @media (width <= 576px) {
        .product-image {
            width: 100px !important;
            height: 100px !important;
        }
        margin: 20px;
    }
}