<div class="payment-page">
    <p>Shipment</p>
    <hr>
    <div class="form-container">
        <form class="registration-form" (ngSubmit)="submitForm(addressForm)" #addressForm="ngForm">
            <div class="mb-3">
                <label for="name" class="form-label">Shipment Address</label>
                <input
                [(ngModel)]="adressForm.shipment"
                 type="text" class="form-control" id="name" name="name" required/>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Billing Address</label>
                <input
                [(ngModel)]="adressForm.billing"
                 type="text" class="form-control" id="username" name="username" required/>
            </div>
            <button type="submit" class="btn btn-primary">Make Payment({{ 'Rs. ' + totalAmount}})</button>
          </form>
    </div>
</div>