:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 64px; 
    position: relative;
    min-height: 400px;
    background-color: #f7f7f7;
    @media (width <= 1023px) {
        margin-top: 100px;
    }
}