.product-list-wrapper {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: minmax(320px,auto);
    gap: 20px;

    .product-wrapper {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 6px -1px, rgba(0, 0, 2, 0.06) 0px 2px 4px -1px;
    }
    @media (1024px <= width < 1268px) {
        grid-template-columns: repeat(4,1fr);

        .product-wrapper {
            .product-image {
                height: 150px;
                width: 150px;
            }
        }
    }

    @media (768px <= width < 1024px) {
        grid-template-columns: repeat(3,1fr);
        .product-wrapper {
            .product-image {
                height: 150px;
                width: 150px;
            }
        }
    }

    @media (width < 768px) {
        gap: 10px;
        margin: 10px;
        grid-template-columns: repeat(2,1fr);
        .product-wrapper {
            .product-image {
                height: 100px;
                width: 100px;
            }
        }
    }
}

:host {
    padding: 0px 30px;
}