<div class="card">
    <h5 class="card-header">Cart Details</h5>
    <div class="card-body cart-wrapper">
        <div class="cart-items-wrapper">
            <div class="cart-item" *ngFor="let item of items">
                <app-cart-item [cartItem]="item" 
                (removeItemEvent)="fetchCartProducts()" (updateCartEvent)="updateTotalPrice($event)"></app-cart-item>
            </div>
        </div>
        <div class="card price-details">
            <h5 class="card-header">Price Details</h5>
            <div class="card-body">
                <p class="card-text">
                    <span class="placeholder">Cart Total:</span>
                    <span>{{'Rs. ' + cartItemsTotalPrice}}</span>
                </p>
                <p class="card-text">
                    <span class="placeholder">Tax:</span>
                    <span>{{'Rs. ' +(cartItemsTotalPrice * 18)/100}}</span>
                </p>
                <p class="card-text">
                    <span class="placeholder">Total Amount:</span>
                    <span>{{'Rs. ' + (cartItemsTotalPrice + (cartItemsTotalPrice * 18)/100)}}</span>
                </p>
                <a href="/payment" class="btn btn-primary">Proceed to Checkout</a>
            </div>
          </div>
    </div>
</div>