.cart-page {
    padding: 30px;
}

.cart-wrapper {
    display: flex;
}

.cart-items-wrapper {
    flex: 1;
}

.price-details {
    flex: 1.2;
    height: fit-content;
}
.placeholder {
    width: 200px;
}

