<div *ngIf="!loadingItems && items.length > 0">
    <h5 class="card-header">Cart Details</h5>
    <div class="cart-wrapper">
        <div class="cart-items-wrapper">
            <div class="cart-item" *ngFor="let item of items">
                <app-cart-item [cartItem]="item" 
                (removeItemEvent)="fetchCartProducts()" (updateCartEvent)="updateTotalPrice($event)"></app-cart-item>
            </div>
        </div>
        <div class="price-details">
            <h5 class="card-header">Price Details</h5>
            <div class="card-body">
                <p class="card-text">
                    <span class="placeholder">Cart Total:</span>
                    <span>{{'Rs. ' + cartItemsTotalPrice}}</span>
                </p>
                <p class="card-text">
                    <span class="placeholder">Tax:</span>
                    <span>{{'Rs. ' +(cartItemsTotalPrice * 18)/100}}</span>
                </p>
                <p class="card-text">
                    <span class="placeholder">Total Amount:</span>
                    <span>{{'Rs. ' + (cartItemsTotalPrice + (cartItemsTotalPrice * 18)/100)}}</span>
                </p>
                <a routerLink="/payment" class="btn btn-primary">Proceed to Checkout</a>
            </div>
          </div>
    </div>
</div>

<div class="empty-cart" *ngIf="!loadingItems && items.length === 0">
    <img src="assets/empty-cart.png" alt="Empty Cart Icon">
    <h2>Your Cart is Empty</h2>
    <p>Looks like you haven't added any items to your cart yet. Start shopping now!</p>
    <a href="/" class="btn">Start Shopping</a>
</div>
<div class="d-flex justify-content-center loader" *ngIf="loadingItems">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>