* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:focus {
  box-shadow: none !important;
}

.placeholder {
  display: inline-block;
  width: 120px;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.registration-form {
  border-radius: 5px;
  border: 1px solid #f7f7f7;
  width: 400px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 30px;
  background-color: #fff;

  @media (width < 576px) {
    width: 350px;
  }
}

.w-100 {
  width: 100%;
}

.nav-link {
  color: #fff !important;
}

.center-text {
  text-align: center;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (width < 576px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (576px <= width <= 1023px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (1024px <= width <= 1279px) {
  .hidden-md {
    display: none !important;
  }
}

@media (width >= 1280px) {
  .hidden-lg {
    display: none !important;
  }
}

.error-message {
  color: red;
  text-align: center;
}

.disabled {
  cursor: not-allowed;
}

.or-button {
  /* text-align: center; */
  border-bottom: 1px solid #b8adad;
  position: relative;
  display: flex;
  justify-content: center;
  span {
    position: absolute;
    top: -13px;
    color: gray;
    border-radius: 5px;
    z-index: 1;
    background-color: #fff;
    border: 1px solid gray;
    padding: 1px 2px;
    letter-spacing: 0.5px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.small-image-tile{
  height: 120px !important;
  width: 120px !important;
}